<input type="checkbox" id="icon" />
    <label for="icon"  class="iconbtn">
      <i class="fa fa-times bg-white" id="closebtn"></i>
      <i class="fa fa-bars bg-danger" id="openbtn"></i>
    </label>
    <i class="fa-solid fa-3x fa-cart-shopping mt-4 text-danger" style="margin-left: 84rem;" ></i>


    <div class="sidenav">
      <div class="logo">
        <!-- <img src="https://i.postimg.cc/y6pKKqcf/avatar.png" alt=""> -->
        <img src="assets\images\clipart1763433.png" alt="">

      </div>
      <ul class="mainNav">
        <li class="single-nav">
          <a href="#">
            <i class="fa-solid fa-2x fa-car ms-4 mt-4"></i><span class="fw-bold">&nbsp; Available Cars</span>
          </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-2x fa-square-caret-right me-3"></i><span class="fw-bold ">Category</span></a>
            <ul class="dropdown-menu  ms-3 text-center"aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-black fw-bold" href="#">Sedan</a></li>
                <li><a class="dropdown-item text-black fw-bold" href="#">SUV</a></li>
                <li><a class="dropdown-item text-black fw-bold" href="#">Hatch Back</a></li>
                <li><a class="dropdown-item text-black fw-bold" href="#">Sports</a></li>
                <li><a class="dropdown-item text-black fw-bold" href="#">Offroad</a></li>

                
            </ul>
        </li>
       
        <li class="single-nav">
          <a href="#">
            <i class="fa-solid fa-2x fa-shop"></i><span class="fw-bold me-4">&nbsp; Orders</span>

          </a>
        </li>
        <li class="single-nav">
          <a href="#">
            <i class="fa-solid fa-2x fa-money-bill-1 "></i><span class="fw-bold me-1">&nbsp; Payment</span>
          </a>
        </li>
        <li class="single-nav">
          <a href="/support">
            <i class="fa-solid fa-envelope fa-2x"></i><span class="fw-bold me-2">&nbsp; Support</span>
          </a>
        </li>
        
        <li class="single-nav">
          <a href="#">
            <i class="fa-solid fa-2x fa-right-from-bracket me-3 mt-5" ></i><span class="fw-bold me-2">Logout</span>
          </a>
        </li>

      </ul>

    </div>

    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card ms-4 " style="width: 18rem;">
                        <img src="assets\images\p17.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center mt-4">Lamborghini Hurracan</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">5204 cc</li>
                          <li class="list-group-item">Max Power: 572.6bhp@8000rpm</li>
                          <li class="list-group-item">Fuel Type : Petrol</li>
                          <li class="list-group-item">Price : 3.73 Cr</li>
            
                        </ul>
                        <div class="card-body text-center">
                          <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\p12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center mt-4">Lamborghini Urus ( SUV )</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">3996 cc</li>
                            <li class="list-group-item">Max Power: 650bhp@8000rpm</li>
                            <li class="list-group-item">Fuel Type : Petrol</li>
                            <li class="list-group-item">Price : 3.10 Cr</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\homecar1.png" class="card-img-top" alt="..." style="width: 90%;">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">BMW M2</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">2979 cc</li>
                              <li class="list-group-item">Max Power: 405bhp@6250rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 90 lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\p14.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">Mercedes-Benz S Class</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">2999 cc - Petrol, 2925 cc - Diesel</li>
                              <li class="list-group-item">Max Power: 496hp@5500rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol,Diesel</li>
                              <li class="list-group-item">Price : 1.69 Cr</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;" id="card1">
                        <img src="assets\images\2-SB-How-work-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Jeep Wrangler</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">1999 cc</li>
                              <li class="list-group-item">Max Power: 270bhp@6000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 60.15 lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;" id="card1">
                        <img src="assets\images\Porsche-PNG-Image-51036.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Porsche 718 Cayman</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">1248 cc</li>
                              <li class="list-group-item">Max Power: 265bhp@6000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 1.32 Cr</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;" id="card1">
                        <img src="assets\images\bmw-6-series-gt-03-800x546-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-3">BMW M6</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">4395 cc</li>
                              <li class="list-group-item">Max Power: 560bhp@6000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 1.90 Cr</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;" id="card1">
                        <img src="assets\images\Car-PNG-File.png" class="card-img-top" alt="..." style="width: 90%;">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-3">AUDI SQ5</h5>
                          </div>
                          <ul class="list-group list-group-flush ">
                              <li class="list-group-item">2995 cc</li>
                              <li class="list-group-item">Max Power: 354bhp@7000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 50.24 lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\homecar2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">Mercedes-Benz SL Class</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">2996 cc</li>
                              <li class="list-group-item">Max Power: 469bhp@8000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 1.15 Cr</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\p2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">Maruthi Vitara Brezza</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">1248 cc</li>
                              <li class="list-group-item">Max Power: 88.8bhp@4000rpm</li>
                              <li class="list-group-item">Fuel Type : Diesel</li>
                              <li class="list-group-item">Price : 10.1 Lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\p3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">Honda CR-V</h5>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">1997 cc - Petrol,1597 - Diesel</li>
                              <li class="list-group-item">Max Power: 187bhp@7000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol,Diesel</li>
                              <li class="list-group-item">Price : 32.84 lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card ms-4" style="width: 18rem;">
                        <img src="assets\images\banner_car.png" class="card-img-top" alt="..." style="width: 90%;">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">POLO GT</h5>
                          </div>
                          <ul class="list-group list-group-flush ">
                              <li class="list-group-item">999 cc</li>
                              <li class="list-group-item">Max Power: 109bhp@5000rpm</li>
                              <li class="list-group-item">Fuel Type : Petrol</li>
                              <li class="list-group-item">Price : 10.24 lakh</li>
                          </ul>
                          <div class="card-body text-center">
                            <button class="btn btn-lg btn-danger mt-3" style="padding: 3px 20px; font-size: large;" routerLink='/book'>Book</button>
                        </div>
                      </div>
                </div>
            </div>
           
            
            
            </div>
            </div>   
