
<nav class="navbar navbar-expand-lg bg-white " >
    <div class="container-fluid">
        <a class="navbar-brand ms-3" routerLink='' style="color: black; font-weight: 500; font-size:1.7em;"><img src="assets\images\sticky-logo.png" alt="" srcset="" style="width: 65%;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-dark">
                <li class="nav-item me-5  ">
                    <a class="nav-link active fs-6 text-dark  "  aria-current="page" href="#"
                         id="navid">Home</a>
                </li>
                <li class="nav-item me-5  ">
                    <a class="nav-link text-dark" href=""   id="navid">About</a>
                </li>
                <li class="nav-item me-5  ">
                    <a class="nav-link text-dark"  routerLink="/home" id="navid">Cars</a>
                </li>
                <li class="nav-item me-5  ">
                    <a class="nav-link text-dark" href=""  id="navid">Cart</a>
                </li>
                <li class="nav-item me-5  ">
                    <a class="nav-link text-dark" href="/support"  id="navid" >Support</a>
                </li>

                <form class="d-flex me-5">
                    <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search"
                        style="border: 2px  rgb(121, 121, 121) solid;">
                    <button class="btn btn-danger  rounded-pill ml-2 " style="padding: 5px 20px;" type="submit">Search</button>

                    
                </form>


            </ul>

        </div>
    </div>
</nav>
